<html>
<head>
  <meta http-equiv="Content-Language" content="English" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen" />
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/fonts/fonts-min.css" />
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/datatable/assets/skins/sam/datatable.css" />
  <script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
  <script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/dragdrop/dragdrop-min.js"></script>

  <script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/element/element-beta-min.js"></script>
  <script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/datasource/datasource-min.js"></script>
  <script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/datatable/datatable-min.js"></script>

  <style type="text/css">
  /* custom styles for this example */
  .yui-skin-sam .yui-dt-liner { white-space:nowrap; } 
  </style>


</head>

<body class=" yui-skin-sam">

<div id="wrap">
  <div id="top"></div>
  <div id="content">

    <div class="header">
      <h1>Gene Expression Database</h1>
      <h2>on Google App Engine</h2>
    </div>

    <div class="breadcrumbs">
      <a href="#">Home</a> &middot; {% block pagename %}{% endblock %}
    </div>

    <div class="middle">
    {% block middle %}{% endblock %}
    </div>
    
    <div class="right">
    {% block right %}{% endblock %}
    </div>

    <div id="clear"></div>

  </div>

  <div id="bottom"></div>
</div>

<div id="footer">
  <a href="http://itoshi.tv/">Itoshi NIKAIDO, Ph. D.</a>, dritoshi at gmail dot com
  <div>
   <img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" />
  </div>
  CSS Design by <a href="http://www.minimalistic-design.net">Minimalistic Design</a>
</div>

</body></html>
