{% extends "base.html" %}

{% block title %}Gene View{% endblock %}
{% block pagename %}Gene View &middot; {{ affy_id }} {% endblock %}

{% block middle %}
    <img src="{{ graph }}">
    <div><a href="coexpression?keyword={{ affy_id }}">Search co-expression genes</a></div>
    <div><a href="/search">Home</a></div>
{% endblock %}

{% block right %}
<h2>Annotation</h2>
<UL>
<LI>Affy ID:     {{ affy_id }}
<LI>Gene Symbol: {{ gene_symbol }}
<LI>Gene Name:   {{ gene_name }}
<LI>Entrez Gene: <a href="http://www.ncbi.nlm.nih.gov/sites/entrez?db=gene&cmd=Retrieve&dopt=full_report&list_uids={{ entrezid }}">{{ entrezid }}</a>
</UL>
{% endblock %}
